/***************************************************
====================All Style====================
****************************************************/
body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 100%;
	
}

h1.main_title {
	margin-bottom: 50px;
	font-size: 3em;

}
/***************************************************
====================Navbar Style====================
****************************************************/

.navbar-default {
	height: 80px;
	border-radius: 0;
	background-color: #134A67;
	border: none;
}
#custom_nav {
	font-size: 1.75em;
	list-style: none;
	padding: 0;
}
#custom_nav li {
	display: inline-block;
	margin-right: 25px;
	line-height: 80px;
}

#custom_nav .section_links {
	text-decoration:none;
	transition: color 0.25s linear;
}
#custom_nav .section_links:hover,
#custom_nav .section_links:focus {
    color: #FFF;
}
.current_active {
	color: #FFF;
}
/*********************************************************
====================Main Content Style====================
**********************************************************/
.main_content {
	position: relative;
	top: 80px;
	padding: 0;
}
/*****************************************************
====================About Me Style====================
******************************************************/
#about_me {
	padding-top: 75px;
	padding-bottom: 75px;
	color: #04334a;
	position: relative;
	background-color: #EEEEEE;
}
#about_me p {
	font-size: 1.75em;
	line-height: 2em;
}
#profile_picture .img-responsive {
	margin: 0 auto;
}
/*******************************************************
====================Experience Style====================
********************************************************/
#experience {
	padding-top: 75px;
	padding-bottom: 75px;
	color: #fff;
	background-color: #207EAF;
}
#experience p,
#experience li {
	font-size: 1.5em;
	line-height: 2em;
}
#experience h4 {
	font-size: 1.75em;
}
.school_row a {
	color: #63CBEF;
}

.school_col {
	text-align: center;
}
.school_col .img-responsive {
	margin: 0 auto;
}
.experience_section_title {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #04334a;
	opacity: .95;
	margin-bottom: 30px;
	text-align: center;
	font-size: 2em;
}

#graph {
	width: 100%; 
	height: auto;
}
/*****************************************************
====================Projects Style====================
******************************************************/
#projects {
	padding-top: 75px;
	padding-bottom: 75px;
	color: #fff;
	background-color: #04334a;
}
#projects_inner > .row {
	margin-top: 75px;
	margin-bottom: 75px;
}


.projects_thumbnail {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.projects_thumbnail > img {
	width: 100%;
	height: 100%;
}

.projects_thumbnail > figcaption {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	background-color: #04334a;
	color: #fff;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;

}
.projects_thumbnail > figcaption > h3 {
	text-align: center;
	line-height: 35px;
}
.projects_thumbnail:hover figcaption {
	opacity: .85;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

#projects h3 {
	font-size: 2em;
}
/*********************************************
====================Footer====================
**********************************************/
#footer_content {
	position: relative;
	width: 100%;
	height: 80px;
	top: 80px;
	padding: 20px 0;
	background-color: #134A67 ;
}

#footer_inner div {
	text-align: center;	
}

/**************************************************
--------------------Icons Style--------------------
***************************************************/
#custom_list {
	list-style: none;
	text-align: center;
	padding: 0;
}
#custom_list li {
	display: inline-block;
	margin: 0 10px;
}
.custom_icon {
	font-size: 24px;
}

.fa-github,
.fa-linkedin,
.fa-envelope  {
	color: #FFF;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.fa-github {	
	background-color:#070709;	
}
.fa-linkedin {
	background-color:#0085AE;
}
.fa-envelope {
	background-color: #CF3D2E;	
}

/**************************************************
-------------------Tooltip Style-------------------
***************************************************/
.tooltip_style + .tooltip {
	margin-top: -20px;
}
/* Linkedin */
.tooltip_style.linkedin + .tooltip > .tooltip-inner {
	background-color: #0085AE;
}
.tooltip_style.linkedin + .tooltip.top > .tooltip-arrow {
	border-top: 5px solid #0085AE;
}
/* Github */
.tooltip_style.github + .tooltip > .tooltip-inner {
	background-color: #070709;
}
.tooltip_style.github + .tooltip.top > .tooltip-arrow {
	border-top: 5px solid #070709;
}
/* Email */
.tooltip_style.envelope + .tooltip > .tooltip-inner {
	background-color: #CF3D2E;
}
.tooltip_style.envelope + .tooltip.top> .tooltip-arrow {
	border-top: 5px solid #CF3D2E;
}
/***********************************************************
====================Projects Page Style====================
************************************************************/
.projects_page {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #04334a;
	color: #fff;
}
.projects_page a {
	color: #1EB4E8;
}
.projects_page h1 {
	font-size: 3em;
}
.projects_page h3 {
	font-size: 2.25em;
}
.projects_page p,
.projects_page li {
	font-size: 1.5em;
	line-height: 2;
}

/******************************************
----------Projects Page Thumbnail----------
*******************************************/
.projects_page_title {
	text-align: center;
}
.screenshots_col {
	margin: 20px 0;
}
.screenshots_col a {
	text-align: center;
	text-decoration: none;
}
.projects_page_thumbnail {
	width: 100%;
	height: 275px;
}
.projects_page_thumbnail img {
	width: 100%;
	height: 100%;
}
/****************************************************
====================Media Queries====================
*****************************************************/
@media screen and (max-width: 991px) {
	body {
		font-size: 90%;
	}

	/****************************
	 ==========Projects==========
	*****************************/
 	.projects_thumbnail {
		height: 300px;
	}
	
	/*******************************************
	===========Projects Page Thumbnail==========
	********************************************/
	.projects_page_thumbnail {
		height: 200px;
	}
}

@media screen and (max-width: 767px) {
	body {
		font-size: 85%;
	}
	/***************************
	==========About Me==========
	****************************/
	.about_me_description {
		margin-top: 20px;
	}
	/****************************
	 ==========Projects==========
	*****************************/
	#projects_inner > .row {
		margin-top: 0;
		margin-bottom: 0;
	}
	.projects_thumbnail_wrapper {
		margin-bottom: 50px;
	}
	
 	.projects_thumbnail {
		height: 400px;
	}
	
	/*******************************************
	===========Projects Page Thumbnail==========
	********************************************/
	.screenshots_col {
		margin: 20px 0;
	}
	.projects_page_thumbnail {
		height: 400px;
	}

}
@media screen and (max-width: 480px) {
	body {
		font-size: 80%;
	}
	/****************************
	 ==========Projects==========
	*****************************/
	#projects_inner > .row {
		margin-top: 0;
		margin-bottom: 0;
	}	
	.projects_thumbnail_wrapper {
		margin-bottom: 50px;
	}
	.projects_thumbnail {
		height: 250px;
	}
	/***********************************
	 ==============Footer===============
	************************************/
	#footer_content {
		padding: 25px 0;
	}
	/****************************************
	---------------Icons Style---------------
	*****************************************/
	.custom_icon {
		font-size: 16px;
	}
	.fa-github,
	.fa-linkedin,
	.fa-envelope  {
		color: #FFF;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	/*******************************************
	 ==========Projects Page Thumbnail==========
	********************************************/
	.screenshots_col {
		margin: 20px 0;
	}
	.projects_page_thumbnail {
		height: 300px;
	}
}
@media screen and (max-width: 320px) {
	body {
		font-size: 70%;
	}
	
	/****************************
	 ==========Projects==========
	*****************************/
	#projects_inner > .row {
		margin-top: 0;
		margin-bottom: 0;
	}	
	.projects_thumbnail_wrapper {
		margin-bottom: 50px;
	}
	.projects_thumbnail {
		height: 150px;
	}
	
	.projects_thumbnail > figcaption {
		height: 40px;
	}
	.projects_thumbnail > figcaption > h3 {
		line-height: 10px;
	}
	/*******************************************
	 ==========Projects Page Thumbnail==========
	********************************************/
	.screenshots_col {
		margin: 20px 0;
	}
	.projects_page_thumbnail {
		height: 200px;
	}
}