/******************************************************************
		General
*******************************************************************/
body, html {
	height: 100%;
	width:	100%;
}
body{
	background-image: url("../images/background/blizzard_@2X.png");
}

/******************************************************************
				Navbar
*******************************************************************/
.navbar {
	padding-top: 25px;
	border-radius: 0px;
	background-image: url("../images/background/noisy_net_@2X.png");
	border-color: #919191;
	border-top: none;
	
}
.navbar-nav {
	margin: -12px;
}

.navbar .navbar-nav > li > a {
	color: #CCCCCC;
	font-size: 20px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #AC2832;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #AC2832;
}

.navbar-default .dropdown-menu {
    background-image: url("../images/background/noisy_net_@2X.png");
}

.dropdown-menu  > li > a{
     color: #CCCCCC;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #AC2832;
}

.open > .dropdown-menu li > a:hover{
    background-color: #AC2832;
    color:#FFFFFF;
}

/*********************************************
					Index Page
*********************************************/
#index_jumbotron_title {
	margin-top: 100px;
	color: #191919;
	background:transparent;
	
}

p > .home_button {
	border-radius: 0px;
	background-color: #AC2832;
	color: #FFFFFF;
}

p > .home_button:hover,
p > .home_button:focus,
p > .home_button:active {
	box-shadow: none;
	background-color: #AC2832;
	color: #FFFFFF;
}


/******************************************************************
				Main Courses Page
*******************************************************************/
#main_courses_jumbotron_title {
	background:transparent;
	padding: 100px;
	margin-bottom: -100px;
	color: #191919;
}

.course_list_row {
	display: flex;
	border-color: #919191;
	border-width: 1px;
	border-style: none none solid none;
}

.indiv_course_div {
	flex: 1;
	margin: 10px;
    background-color: #AC2832;
    box-shadow: 10px 10px 5px #888888;

}
.indiv_course_div * {
	color: #FFFFFF;
	clear: both;
}

.course_description > a {
	color: #78BCFF;
}
.course_description > a:hover ,
.course_description > a:active {
	color: #E4F2FF;
}

/*******************************
			Ribbon Title
********************************/
.course_number_ribbon {
	position: relative;
	background: #E34062;
	margin: 10px 0 10px;
	margin-left: -26px;
	padding: 5px 10px;
	float: left;
	text-transform: uppercase;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);

}
.course_number {
	margin: 0 12px;
}

.course_number_ribbon::before {
	display:block;
	width: 0px;
	height: 0px;
	position: absolute;
	bottom: -16px;
	left: 0;
	content: "";
	border-bottom: 15px solid transparent;
	border-right: 12px solid #722031;
}

/******************************************************************
							Courses Page
*******************************************************************/
#courses_jumbotron_title {
	background: transparent;
	padding: 100px;
	margin-bottom: -100px;
	color: #191919;
	
}
.courses_header {
	border-color: #919191;
	border-width: 1px;
	border-style: none none solid none;
}
/******************************************************************
				Main Projects Page
*******************************************************************/
#projects_jumbotron_title {
	background:transparent;
	padding: 100px;
	margin-bottom: -100px;
	color: #191919;
}
/******************************************************************
					About Me Page
*******************************************************************/
#aboutme_jumbotron_title {
	background:transparent;
	padding: 100px;
	margin-bottom: -100px;
	color: #191919;
}

.aboutme_description {
	
	font-size: 20px;
	color: #191919;
}
.aboutme_title {
	color: #E6E6E6;
	text-align: center;
}
.aboutme_education, .aboutme_courses, .aboutme_languages_database, .aboutme_technologies {
	margin: auto;
	border-color: #919191;
	border-width: 1px;
	border-style: solid;
	box-shadow: 10px 10px 5px #888888;
    background-color: #5077BE;
}

.aboutme_education_row{
	margin-top: 25px;
	text-align: center;
}

.aboutme_courses_row, .aboutme_graph_row, .aboutme_othertech_row  {
	margin-top: 25px;
}